<div>
  <div class="conteiner">
    <input type="text" placeholder="Введи название страны" id="searcher" />
  </div>

  <div>
    <ul id="countryList"></ul>
  </div>

  <div id="countryWrapper" style="display: none">
    <ul id="countryInfo">
      <li><h1 id="countryName"></h1></li>
      <li id="countryCapital"></li>
      <li id="countryPopulation"></li>
      <li>
        <span> Languages:</span>
        <ul id="nativeLanguages"></ul>
      </li>
      <li><img src="" id="countryFlag" class="Flag" /></li>
    </ul>
  </div>
</div>
